# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# ChromaDB
chromadb/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log

